ion-split-pane {
	--side-width: 8em;
}

@media only screen and (min-width: 720px) {
	.modal-lg {
		--width: 80%;
	}

	.modal-xl {
		--width: 90%;
	}

	.modal-full {
		--width: 95%;
		--height: 95vh;
	}

	.modal-full-image {
		--width: 100%;
		--height: 100vh;
	}
}

.alert-radio-label.sc-ion-alert-md {
	white-space: normal !important;
}

.alert-radio-label.sc-ion-alert-ios {
	white-space: normal !important;
}

.alert-checkbox-label.sc-ion-alert-md {
	white-space: normal !important;
}

.alert-checkbox-label.sc-ion-alert-ios {
	white-space: normal !important;
}

.alert-wrapper {
	width: 350px !important;
	max-width: 450px !important;
}

ion-select.select-line {
	text-align: center;
	font-size: 4em;
	font-weight: 700;
}
